* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

*:not(i) {
  font-family: "Montserrat", sans-serif;
}

body {
  background-color: #209cee;
}

.logo-div {
  position: relative;
  /* width: 200px;
  height: 100px; */
}

.logo {
  padding-top: 20px;
  padding-left: 30px;
  position: absolute;
  height: 7rem;
  width: auto;
  cursor: pointer;
}

.container {
  background-color: #fff;
  width: 90vmin;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  padding: 80px 50px;
  border-radius: 10px;
  box-shadow: 0 20px 40px rgba(38, 33, 61, 0.2);
}

.search-box {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.search-box input {
  padding: 5px;
  width: 70%;
  border: none;
  border-bottom: 3px solid #209cee;
}

.search-box .btn {
  text-align: center;
  padding: 1rem;
  width: 25%;
  border-radius: 5%;
  background-color: #209cee;
  border: none;
  outline: none;
  color: #fff;
  cursor: pointer;
}

#no-result {
  margin-top: 10px;
  position: relative;
  display: none;
}

.results {
  position: relative;
  display: none;
}

.results h2 {
  margin-top: 1rem;
  color: #1f194c;
  position: sticky;
}

.word-name-add {
  margin-top: 1.5rem;
  display: flex;
  justify-content: space-between;
}

.word-name-add .material-symbols-outlined {
  margin-left: auto;
  margin-top: 20px;
  /* margin-bottom: 5px; Separate the "add" button vertically */
  border: none;
  background-color: transparent;
  color: #209cee;
  cursor: pointer;
}

#result-found {
  max-height: 400px;
  overflow-y: scroll;
}

.sound-details {
  display: flex;
  justify-content: space-between;
  margin-top: 0.5rem;
}

.sound-details p {
  color: #b3b6d4;
  display: inline;
  margin-right: 1rem;
  font-size: 1rem;
}

.sound-details button {
  background-color: transparent;
  color: #209cee;
  border: none;
  outline: none;
  font-size: 1.2rem;
  cursor: pointer;
}

#no_sound-btn {
  cursor: not-allowed;
}

.results-list #details {
  display: flex;
  gap: 10px;
  color: #b3b6d4;
  margin: 5px 0 20px 0;
  font-size: 14px;
}

.word-meaning {
  margin-top: 0.5rem;
  color: #575a7b;
}

.word-example {
  color: #575a7b;
  font-style: italic;
  border-left: 5px solid #209cee;
  padding-left: 20px;
  margin-top: 1rem;
}

@keyframes fadein {
  from {
    opacity: 0;
    transform: translateX(-10%);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.list-item {
  display: flex;
  flex-wrap: wrap; /* Allow content to wrap to the next line */
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
  padding: 5px;
  border: none;
}

.left-buttons {
  margin-top: 1rem;
  display: flex;
  flex-wrap: wrap; /* Allow buttons to wrap */
}

.left-buttons button {
  margin-right: 5px;
  margin-left: 10px;
  margin-bottom: 5px; /* Separate buttons vertically */
  background-color: transparent;
  padding: 0.2rem;
  color: #209cee;
  /* border: 1px solid #209cee; */
  border-radius: 10%;
  border-color: #0199ff;
  cursor: pointer;
}

.list-item .material-symbols-outlined {
  margin-left: auto;
  margin-bottom: 5px; /* Separate the "add" button vertically */
  border: none;
  background-color: transparent;
  color: #209cee;
  cursor: pointer;
}

/* Adjust the styles for the divs inside list items */
.list-item div {
  width: 100%; /* Make divs take full width on the new line */
}
